@model IEnumerable<DataEF.DataAccess.Users>

@{
    ViewBag.Title = i18n.Resource.Users;
    ViewBag.Head = i18n.Resource.Users;
}

@section headerScript{

    @Scripts.Render("~/bundles/pagination")

    <script type="text/javascript">
        $(function () {
            $("#objPaginationUsers").pagination({
                tableTaget: "#tblUsers",
                selectQtdEntries: "#dbQtdEntriesUsers",
                search: "#txtGridSearchUsers",
                url: "@(Url.Action("PartialList"))"
            });
        });

       $("html").on("click", ".btnDelete", function (e) {
            e.preventDefault();
            var that = $(this);
            var objData = $(that).data();

           $(".modal-body p").html(objData.msg);
           $("#modal-delete").modal("show");

           $(".btnDeleteModal").attr("data-id", objData.id);
           $(".btnDeleteModal").attr("data-model", "user");
           $(".btnDeleteModal").show();
        });

        $("html").on("click", ".btnDeleteModal", function (e) {
            e.preventDefault();
            var that = $(this);
            var objData = $(that).data();

            var param = {
                id: objData.id
            };

            $.ajaxJson({
                url: "@(Url.Action("Delete"))",
                data: JSON.stringify(param),
                success: function (data) {
                    if (data.status === "OK") {
                        $("#modal-delete").modal("hide");
                        $(".btnDeleteModal").removeAttr("data-id");
                        $(".btnDeleteModal").removeAttr("data-model");
                        $("#objPaginationUsers").trigger("refresh");
                    } else if (data.status === "ERROR") {
                        $(".modal-body p").html(data.msg);
                        $(".btnDeleteModal").removeAttr("data-id");
                        $(".btnDeleteModal").removeAttr("data-model");
                        $(".btnDeleteModal").hide();
                    }
                }
            });
        });

    </script>
}

@section TopButton{
    <div class="pull-right">
        <a class="btn btn-large btn-block btn-primary" href="@Url.Action("Create", "User")"><i class="fa fa-white fa-asterisk"></i>&nbsp;@i18n.Resource.New</a>
    </div>
}

<div class="table">
    <div class="row">
        <div class="col-6">
            <div>
                <label>
                    @i18n.Resource.Display
                    <select id="dbQtdEntriesUsers" size="1">
                        <option value="10" selected="selected">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                    @i18n.Resource.Records
                </label>
            </div>
        </div>
        <div class="col-6 text-right">
            <div>
                <label>
                    @i18n.Resource.Search:
                    <input id="txtGridSearchUsers" type="text">
                </label>
            </div>
        </div>
    </div>
    <table id="tblUsers" class="table table-striped table-sm" data-qtdentries="@(ViewBag.qtdEntries)" data-amount="@(ViewBag.amount)" data-currentpage="@(ViewBag.currentPage)" data-qtdactionnumber="@(ViewBag.qtdActionNumber)" data-search="" data-sort="" data-sortdirection="asc">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.UserId)</th>
                <th>@Html.DisplayNameFor(model => model.FirstName)</th>
                <th>@Html.DisplayNameFor(model => model.LastName)</th>
                <th>@i18n.Resource.Actions</th>
            </tr>
        </thead>
        <tbody>
            @Html.Partial("_PartialList", Model)
        </tbody>
    </table>
    <input type="hidden" id="UsersIDAux" name="UsersIDAux" />
    @Html.Partial("~/Views/Shared/_PaginationPartial.cshtml", "objPaginationUsers")
</div>
