<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="@(Url.Action("Index", "Home", new { area = "Adm" }))">
                    <span data-feather="home"></span>
                    @i18n.Resource.Home <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@(Url.Action("Index", "Users", new { area = "Adm" }))">
                    <span data-feather="user"></span>
                    @i18n.Resource.Users
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@(Url.Action("Index", "Units", new { area = "Adm" }))">
                    <span data-feather="settings"></span>
                    @i18n.Resource.Units
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@(Url.Action("Index", "Categories", new { area = "Adm" }))">
                    <span data-feather="settings"></span>
                    @i18n.Resource.Categories
                </a>
            </li>
        </ul>
    </div>
</nav>