@model string
@{
    string name = (string.IsNullOrWhiteSpace(Model) ? Guid.NewGuid().ToString() : Model);

    var preview = (ViewBag.currentPage - 1 < 0 ? 0 : ViewBag.currentPage - 1);
    var next = (ViewBag.currentPage + 1 > ViewBag.qtdPage ? 0 : ViewBag.currentPage + 1);

    var startActionNumber = (ViewBag.currentPage - (int)(ViewBag.qtdActionNumber / 2) <= 0 ? 1 : ViewBag.currentPage - (int)(ViewBag.qtdActionNumber / 2));
    var endActionNumber = (startActionNumber + ViewBag.qtdActionNumber > ViewBag.qtdPage ? ViewBag.qtdPage : startActionNumber + ViewBag.qtdActionNumber);
}

<div class="row">
    <div class="col-6">
        <div>@string.Format(i18n.Resource.PaginationInfo, (ViewBag.qtdEntries * (ViewBag.currentPage - 1)) + 1, ((ViewBag.currentPage * ViewBag.qtdEntries) > ViewBag.amount ? ViewBag.amount : ViewBag.currentPage * ViewBag.qtdEntries), ViewBag.amount)</div>
    </div>
    <div class="col-6">
        <ul id="@(name)" class="pagination float-right">
            <li class="prev page-item">
                <a class="page-link" href="javascript:void(0);" aria-label="Previous" data-page="@preview">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            @for (int i = startActionNumber; i <= endActionNumber; i++)
            {
                <li class="page-item"><a href="javascript:void(0);" class="page-link" data-page="@i">@i</a></li>
            }
            <li class="next page-item">
                <a class="page-link" href="javascript:void(0);" aria-label="Next" data-page="@next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
            <li class="pagnationFunction" style="display:none"></li>
        </ul>
    </div>
</div>